<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{> header}}
  </head>

  <body>
    <p>This is the home page.. Wow!</p>
    <p>{{screamIt welcomeMessage}}</p>
    <p>Current date is: {{currentDate}}</p>

    {{> footer}}

  </body>



</html>
